$white: #fff;
$color-light: #4a4a4a;
$body-background: #f4f4f4;
$color-primary: #638eff;
$color-dark-primary: #745dff;

body {
    background-color: $body-background;
    font-family: 'Open Sans', sans-serif;
}


.container {
    width: 55%;
    margin: 0 auto;
    margin-top: 60px;
}


.header-bar {
    display: flex;
    justify-content: space-between;

}


.logo {
    img {
        width: 100px;
        cursor: pointer;

    }
}

.menu-bar {
    display: flex;
    gap: 60px;

    li {
        list-style-type: none;
        color: $color-light;
        font-size: 14px;
    }

    .menu-btn {
        color: $color-primary;
        font-weight: 700;
    }
}

.main-card {
    background-color: $white;
    width: 100%;
    min-height: 400px;
    margin-top: 55px;
    box-shadow: 0 21px 33px 0 rgba(0, 0, 0, .1);
    border: 1px solid #fff;
    display: flex;

}


.card-sidebar {
    background-color: $body-background;
    padding: 10px;

    div {
        margin-bottom: 20px;
        padding: 15px;

        svg {
            width: 25px;
        }

    }

}

.card-container {
    border: 1px solid #fff;
    padding: 0 50px;
    width: 100%;

    div {
        h1 {
            font-size: 48px;
            font-weight: 700;
            line-height: .85;
            letter-spacing: 1.6px;
            color: #000;
            margin-bottom: 28px;
        }
    }

    .text-section {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;


        .resizeSection {
            flex: 1;
            max-height: auto;
            
        }


        .theme-btn-section {
            padding: 15px 0;
            text-align: right;
            display: flex;
            flex-direction: row;
            justify-content: end;
            align-items: center;


            span{
                margin-right: 50px;
                cursor: pointer;
            }
        }
        .text-footer {
            display:flex ;
            flex-direction: column;
            justify-content:space-between;
            
            div{
                text-align: center;
                margin-bottom: 10px;
                span{
                    a{
                        font-size: 24px;
                        color: $color-primary;
                    }
                }
            }

        }

        


    }

    .file-section {
        height:60%;

        .fileHeader{
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        .files-btn{
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 35px;

            div{
                display: flex;
                align-items: center;
                cursor: pointer;

                &:active{
                    opacity: 0.5;
                }

                &:hover{
                    text-decoration: underline;
                }

            }
            .download-btn{
                color: rgba(99, 142, 255,0.8);
                svg {
                    color: $color-primary;
                    margin-right: 5px;
                    margin-bottom: 2px;
                    font-size: 18px;
                }
            }
            .delete-btn{
                    color:rgba(150, 58, 69,0.8);
                    
                svg {
                    color:#963a45;
                    margin-right: 3px;
                    margin-bottom: 4px;
                    font-size: 22px;

                }
            }
        }
    }


}

.activate-text {
    background-color: $white;
}

.activate-file {
    background-color: $white;

}