$color-dark-primary: #745dff;
$color-primary: #638eff;

.text-area {
    border: none;
    outline: none;
    resize: none;

    font-size: 22px;
    letter-spacing: -.7px;
    color: #000;
    width: 100%;
    padding: 10px 0;
    border: none;
    font-family: "Open Sans", sans-serif;

    &::placeholder {
        font-weight: 300;
        color: #dadada;
    }

    &::-webkit-scrollbar {
        display: none;
        /* or width: 0; */
    }

}




.theme-btn {
    border: 3px solid #000;

    padding: 12px 75px;
    font-size: 24px;
    font-style: italic;
    letter-spacing: .6px;
    color: #9ea0a1;
    font-weight: 700;
    background-color: transparent;
    cursor: pointer;

    &:active {

        background: linear-gradient(to bottom, #864bff, #5082ff);



    }

    &:hover {
        text-shadow: 2px 2px 0px $color-dark-primary;
        box-shadow: 2px 2px 0 0 $color-dark-primary ;

    }

}





//file section 

.drop-zone {
    width: 100%;
    height: 100%;
    border: 1.5px dashed rgba(155, 155, 155, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;


    div {
        color: rgba(155, 155, 155, 0.5);
        width: 50%;
        text-align: center;
        line-height: 35px;

        span {
            color: $color-dark-primary;
        }
    }


}



//FileList Component Styling


.File-list {

    display: flex;

    div {
        width: 100px;
        height: 100px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        &:hover {
            background-color: rgba(155, 155, 155, 0.1);
        }

        svg {
            font-size: 45px;
            color: #000;
            margin-bottom: 10px;

        }


        .add-more-files {
            line-height: 20px;

            svg {
                font-size: 24px !important;
                margin: 0;
                color: $color-dark-primary;
            }

            p {
                font-size: 17px;
                margin: 0;
                color: $color-primary;
                font-weight: bold;
            }

            span {
                font-size: 12px;
                color:rgba(155, 155, 155, 0.8) ;

            }
        }

    }



}