.text-area {
    border: none;
    outline: none;
    resize: none;

    font-size: 22px;
    letter-spacing: -.7px;
    color: #000;
    width: 100%;
    padding: 10px 0;
    border: none;
    font-family: "Open Sans", sans-serif;
    
    &::placeholder{
        font-weight: 300;
        color: #dadada;
    }
    &::-webkit-scrollbar {
  display: none; /* or width: 0; */
}

}




.theme-btn {
    border: 2px solid #000;

    padding: 12px 80px;
    font-size: 24px;
    font-style: italic;
    letter-spacing: .6px;
    color: #9ea0a1;
    font-weight: 700;
    background-color: transparent;
}