.text-area {
    border: none;
    outline: none;
    resize: none;

    font-size: 22px;
    letter-spacing: -.7px;
    color: #000;
    width: 100%;
    padding: 10px 0;
    border: none;
    min-height: 221px;
    font-family: "Open Sans", sans-serif;
    
    &::placeholder{
        font-weight: 300;
        color: #dadada;
    }
    &::-webkit-scrollbar {
  display: none; /* or width: 0; */
}

}

